*{
    margin: 0px;
    padding: 0px;
}

body{
background-color: #303A46;
font-family: PT Sans Narrow;

}

/* .contant{
margin: 0px 150px ;
height: 729px; 
} */

.link{
    display: flex;
	justify-content: space-between;   
}

#title {
color: white;
font-size: 40px;
align-self: center;

}

.link a{
text-decoration: none;
}

.link a:hover{
	cursor: pointer;

}
#book:hover{
	cursor: pointer;
	background-color:grey;
	color: #CFBE91;
	
	
}
#book{
padding: 10px 5px;
color:#303A46;
background-color: #48FF80;
border-radius: 0 0px 10px 10px;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
text-align: center;

}


/*
image slider css
*/	
#slider {
    overflow: hidden;
    width: auto;

}
#slider figure {
	position: relative;
    width: 500%;
    margin: 0;
	left: 0;
	animation: 25s slider infinite;
}
#slider figure img {
	float: left;
    width: 20%;
    height: auto;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}

}
/*
nav css for index page
*/

.nav{
	display: flex;
	justify-content: left;
	height: 50px;

}
ul{
	font-size: 1.5em;
	display: inherit;
	padding: 9px;
}

.nav ul li{
	list-style: none;
	margin: 5px;

}

.nav ul li a{
	color: white;
	text-decoration: none;
	padding: 10px; 
}
.nav ul li:hover  a{
	background-color: #48FF80;
	color: #303A46;
	cursor: pointer;
	border-radius: 0 0 15px 15px; 
}

/*
Explore website
*/
.info{
	padding: 5px;
}
.info h2 a{

	color: white;
	font-size:1.5em;
	text-decoration: none;

}

.info h2 a:hover{
	
	cursor: pointer;
	color: #48FF80;
}

/*
Explore website images
*/
.contant-container{
	height: auto;
	
}
.image-container{
	display: flex;
	justify-content: space-between;
	overflow:scroll;
}

.image-container a img{
	/* width: 500px;
	height: 450px; */
	margin-bottom: 3px;
	border: 2px solid #303A46;
	border-radius: 10px;
}
.image-container img:hover{
	cursor: pointer;
	border: 2px solid #48FF80;
	opacity: .5;
	transition: .9s;

}

/*
footer
*/

.main-footer{
	display: flex;
	background-color: white;
	border-radius: 0 0 15px 15px;
	border-top: 3px solid #CFBE91; 
}


.footer{
	margin: 10px;
	color: #303A46;
	padding: 0 40px;

}

.bottom-footer div{
	height: 20px;
	display: inline-flex;
	font-size: 14px;
	color: white;
}
.main-footer h3{
	color: #CFBE91;

}
.main-footer h4{
	text-transform: capitalize;
	font-weight: normal;
	padding: 0 0 5px 0;
}

#location{
float: right;
} 



a{
	text-decoration: none;
	color: #303A46;
}


.footer a h4:hover{
	color: #303A46;
	background-color: #48FF80;

}

h4:hover{
	color: #303A46;
	background-color: #48FF80;
}